/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Hepta+Slab:wght@1..900&display=swap");

/* CSS Variables */
:root {
    --font-primary: "funnel sans", sans-serif;
    --font-secondary: "hepta slab", serif;
    --color-primary: #2f591b; /* Dark Green */
    --color-secondary: #a3c293; /* Green */
    --color-highlight: #b4212d; /* Red */
    --color-highlight-light: #ec484a; /* Light Red */
}

/* Global Styles */
body {
    font-family: var(--font-primary);
}

h1,
h2,
h3 {
    font-family: var(--font-secondary);
    color: var(--color-primary);
}

.sub-heading-color {
    color: var(--color-highlight);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
