/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Hepta+Slab:wght@1..900&display=swap");

/* CSS Variables */
:root {
    --font-primary: "funnel sans", sans-serif;
    --font-secondary: "hepta slab", serif;
    --color-primary: #2f591b; /* Dark Green */
    --color-secondary: #a3c293; /* Green */
    --color-highlight: #5e321c; /* Brown */
    --color-highlight-light: #bfa28e; /* Light Brown */
}

/* Global Styles */
body {
    font-family: var(--font-primary);
    background-color: #edeae0; /* Light Beige Background */
}

h1,
h2,
h3 {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--color-highlight);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navigation Bar */
.navbar {
    background-color: var(--color-primary);
}

#logo {
    color: var(--color-highlight-light);
    font-family: var(--font-secondary);
    font-weight: 700;
    text-transform: uppercase;
}

/* Hero Section / Header */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center top/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(163, 194, 147, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    color: white;
    text-transform: uppercase;
}

#cover-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--color-highlight);
}

/* Main Content */

/* About Section */
#about {
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Tips Section */
#tips .card {
    margin-bottom: 1.5rem;
}

/* Resources Section */

/* Buttons */
.custom-button-outline {
    border: 3px solid var(--color-highlight);
    padding: 7px 25px;
    color: var(--color-highlight);
}

.custom-button-outline:hover {
    background-color: var(--color-highlight);
    color: white;
}

/* Footer */
#contact {
    background-color: var(--color-primary);
    color: white;
    padding: 3rem;
}

#contact h2 {
    color: white;
}

#contact i {
    color: var(--color-secondary);
    font-size: 1.2rem;
    margin-right: 10px;
}

#contact .social-links i {
    color: var(--color-highlight-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--color-secondary);
}

/* Media Queries */

/* xs devices (up to 320px) */
@media screen and (max-width: 320px) {
    #cover-text {
        font-size: 100%;
        padding-top: 20px;
        padding-left: 5px;
    }

    #cover-text h1 {
        font-size: 1.5rem;
    }
}

/* Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #cover-text {
        width: 400px;
        right: 50px;
    }
    #tips .card-body {
        min-height: 191px;
    }

    .feet {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: auto;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 220px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    #services .card-body {
        min-height: 195px;
    }
}
